# === OS / IDE ===
.DS_Store
Thumbs.db
*.log
*.tmp
~$*
.vscode/
.idea/
__pycache__/
.ipynb_checkpoints/
*.swp

# === Python bytecode & metadata ===
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
*.eggs/
build/
dist/

# === Envs ===
.venv/
venv/
.env
.env.*

# === DVC ===
# Mantén versionados dvc.yaml, dvc.lock y *.dvc; ignora caches temporales
.dvc/cache/
.dvc/tmp/
**/.dvc/cache/
**/.dvc/tmp/

# === MLflow (si se usa file store local) ===
mlruns/

# === Ya tenías (se mantienen) ===
*.egg-info/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

.dvc/config.local
